body {
  background-color: rgb(178, 231, 213);
}

.short-height {
  display: none;
}

.medium-height {
  display: none;
}

.tall-height {
  display: none;
}

.every-height {
  display: none;
}

.highlight {
  font-weight: 700;
  background-color: gold;
}